/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
button,hr,input{
    overflow:visible
    }

audio,canvas,progress,video{
    display:inline-block
    }

progress,sub,sup{
    vertical-align:baseline
    }

html{
    font-family:sans-serif;
    line-height:1.15;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
    }

body{
    margin:0
    }

menu,article,aside,details,footer,header,nav,section{
    display:block
    }

h1{
    font-size:2em;
    margin:.67em 0
    }
    
figcaption,figure,main{
    display:block
    }
    
figure{
    margin:1em 40px
    }
    
hr{
    box-sizing:content-box;
    height:0
    }
    
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
    }
    
a{
    background-color:transparent;
    -webkit-text-decoration-skip:objects
    }
    
a:active,a:hover{
    outline-width:0
    }
    
abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    text-decoration:underline dotted
    }
    
b,strong{
    font-weight:bolder
    }
    
dfn{
    font-style:italic
    }
    
mark{
    background-color:#ff0;
    color:#000
    }
    
small{
    font-size:80%
    }
    
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative
    }
    
sub{
    bottom:-.25em
    }
    
sup{
    top:-.5em
    }
    
audio:not([controls]){
    display:none;
    height:0
    }
    
img{
    border-style:none
    }
    
svg:not(:root){
    overflow:hidden
    }
    
button,input,optgroup,select,textarea{
    font-family:sans-serif;
    font-size:100%;
    line-height:1.15;
    margin:0
    }
    
button,input{
    }
    
button,select{
    text-transform:none
    }

[type=submit], [type=reset],button,html [type=button]{
    -webkit-appearance:button
    }

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
    border-style:none;
    padding:0
    }
    
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{
    outline:ButtonText dotted 1px
    }
    
fieldset{
    border:1px solid silver;
    margin:0 2px;
    padding:.35em .625em .75em
    }
    
legend{
    box-sizing:border-box;
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal
    }

progress{
    }
    
textarea{
    overflow:auto
    }

[type=checkbox],[type=radio]{
    box-sizing:border-box;padding:0
    }

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
    height:auto
    }

[type=search]{
    -webkit-appearance:textfield;outline-offset:-2px
    }

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
    }

::-webkit-file-upload-button{
    -webkit-appearance:button;font:inherit
    }

summary{
    display:list-item
    }
    
[hidden],template{
    display:none
    }

@import url('//fonts.googleapis.com/css?family=Open+Sans');

/* Have to use @import for the font, as you can only specify a single stylesheet */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    }

html {
    min-height: 100%;
    border-top: 10px solid #ECEEF1;
    border-bottom: 10px solid #ECEEF1;
    color: #91969c;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 2em;
    }

body {
    background: rgb(15,05,00);
    padding: 20px;
    -webkit-backface-visibility: hidden;
    }

code {
    font-family: consolas,monospace;
    }

a {
    color: #61666c;
    text-decoration: none;
    }

a, img {
    border: none;
    outline: none;
    }

a:hover {
    color: #c5c5c5;
    }

/*------------------------------------*\
    Wrapper
\*------------------------------------*/

.wrapper {
    margin: 0 auto;
    padding-top: 20px;
    max-width: 80%;
    }

/*------------------------------------*\
    Filter (search box)
\*------------------------------------*/
input, textarea {outline: none;}

#filter {
    float: right;
    font-size:.75em;
    color: #fff;
    padding: .5em;
    background: #201200;
    margin-bottom: .5em;
    border: 1px solid #bdc1c5;
    border-radius: .5em;
    width: 10em;
    transition: width 1s ease;
    }
#filter:focus {
    width: 30em;
    }

/*------------------------------------*\
    Demo block
\*------------------------------------*/
.block {
    padding-top: 5px;
    font-size: .875em;
    margin: 20px 0;
    color: #9099A3;
    }

/*------------------------------------*\
    Table (directory listing)
\*------------------------------------*/

.table-wrapper{
    background: #201200;
    border: 2px solid #bdc1c5;
    border-radius: 10px;
    margin-bottom: 10px;
    align: middle;
    }

table {
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
    border-collapse: collapse;
    font-size: 1em;
    }

tr {
    outline: 0;
    border: 0;
    }

tr:hover td {
    background: #301800;
    }

th {
    text-align: left;
    font-size: .75em;
    padding-right: 20px;
    }

/* 2nd Column: Filename */

th + th {
    width: 65%;
    }

/* 3rd Column: Last Modified */
th + th + th {
    }

/* 4th Column: Size */
th + th + th + th {
    width: 5%;
    }

tr td:first-of-type {
    padding-left: 10px;
    padding-right: 10px;
    }

td {
    padding: 5px 0;
    outline: 0;
    border: 0;
    border-bottom: 1px dashed #bdc1c5;
    vertical-align: middle;
    text-align: left;
    transition: background 300ms ease;
    -o-transition: background 300ms ease;
    -ms-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -webkit-transition: background 300ms ease;
    }

td a {
    display: block;
    }

tr.parent a[href^="/"] {
    color: #9099A3;
    }

.parent a[href^="/"]:hover {
    color: #2281d0;
    }

/*------------------------------------*\
    Footer
\*------------------------------------*/

.footer {
    text-align: center;
    font-size: .75em;
    }

/*------------------------------------*\
    Media query for small screens
\*------------------------------------*/
@media (max-width: 768px) {
    body {
        padding: 10px;
	}
	
    .indexcollastmod { 
	display: none; 
	}
	
    .wrapper { 
	max-width: 100%; 
	}
    }

