  <div class="block">
  </div><!--/.postlisting-->



<div class="footer" style="width:100%;">

<div style="float:left;margin-left:1%;"><!--img src="/.internal/img/logo.png" width="64px" height="64px"--> </div>   
<div style="float:right;padding-top:36px;font-size:14px;text-align:right;width:66%;"><a href="mailto:diablopc@linuxforum.tech">DiabloPC</a> © 2019 || All Rights Reserved</div>
    
</div> 
</div>
</div>
</body>
<script src=http://diablopc.ddns.net/js/apaxy.js></script>
</html>